<% @restaurants.each do |restaurant| %>
  <%= link_to(restaurant_path(restaurant), { class: 'container-restaurant'}) do %>
    <div class="restaurant">
      <h2><%= restaurant.name %></h2>
      <h4><%= restaurant.address %></h4>
      <p><%= restaurant.category %></p>
    </div>
  <% end %>
<% end %>
